.container-list-pokemon{
    display: flex;
    justify-content: center;
    align-content: center;

}


.container-list-pokemon > ul{
    
    min-width: 600px;
    font-size: 1.5rem;
    display: flex;

}


.container-list-pokemon > ul > li{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container-list-pokemon > ul > li >svg{
    
}
